# Python cache
__pycache__

# Settings (relative to each bot instances)
settings

# Log
discord.log

# Data files
data/code/pastebin_key.txt
data/code/users_configuration.json

# Visual Studio Code configuration
.vscode

# The key for my VPS
VPS_private_key.ppk

# Some stuff for https://discordbots.org/
discordbots_stuff