# Python cache
__pycache__

# Settings (relative to each bot instances)
settings

# Log
discord.log

# Data files
data

# Visual Studio Code configuration
.vscode

# The key for my VPS
VPS_private_key.ppk